<ion-tabs class="tabs-icon-top fade-in-not-out">




  <ion-tab title="Spor" icon-on="ion-ios-football" icon-off="ion-ios-football-outline" ui-sref="tabpp.spor">

    <ion-nav-view name="sporppic-tab"></ion-nav-view>


  </ion-tab>

  <ion-tab title="Müzik" icon-on="ion-ios-musical-note" icon-off="ion-ios-musical-notes" ui-sref="tabpp.muzik">
    <ion-nav-view name="muzikppic-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Görsel Sanat" icon-on="ion-easel" icon-off="ion-paintbrush" ui-sref="tabpp.gorsel">
    <ion-nav-view name="gorselppic-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

