<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="About " >

  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="has-header gem-ion-content">
    <div class="row">
      <img class="centerimg" style="max-height:90px " src="[LOGO_LINK]"/>
      <img class="centerimg" style="max-height:90px " src="[LOGO_LINK]"/>
    </div>

    <p class="padding" style="padding-top: 25px">{{about}}</p>




    <img class="centerimg" style="max-height:70px " src="[LOGO_LINK]"/>

  </ion-content>
</ion-view>

