//test view
<ion-view title="Yayınlar">

  <ion-content class="has-header gem-ion-content feed" overflow-scroll="true" data-tap-disable="true" >
    <h3>Spor</h3>
    <ion-refresher
      pulling-text="Yenilemek için çekin..."
      on-refresh="doRefresh()" >
    </ion-refresher >
    <div style="padding-bottom:30px">
      <div class="news-media">
        <div  >
          <div style="height: 300px" ng-controller="testctrl as controller">
            <videogular vg-theme="controller.config.theme"  vg-clear-media-on-navigate="true">
              <vg-media vg-src="controller.config.sources"
                        vg-tracks="controller.config.tracks">
              </vg-media>

              <vg-controls>

                <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-volume>
                  <vg-mute-button></vg-mute-button>
                  <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
              </vg-controls>


              <vg-overlay-play></vg-overlay-play>


              <vg-buffering></vg-buffering>
            </videogular>

          </div>
        </div>
        <div class="media-social-stats">

        </div>
      </div>
      <div class="news-item">
        <div class="news-thumb">
          <img src="https://www.britishcouncil.org/sites/default/files/styles/bc-landscape-630x354/public/speaker-avatar.jpg?itok=E-qqipnF"  alt="" class="img">
        </div>

        <div class="news-content">
          <h4>asdasdsad</h4>




          <div class="gem-tiny-text news-item-stats">
            <i class="icon ion-clock"></i> {{result.Tarih| jsDate |date:'dd MM yyyy'}}
   <span class="news-comment-summary">
            <i class="icon ion-star"></i><span id="ort-{{result.VideoID}}">{{result.OP}}</span>/5
          <i class="icon ion-person-add"></i><span id="pers-{{result.VideoID}}">{{result.PV}}</span>
            <i class="icon ion-ios-calculator"></i><span id="totp-{{result.VideoID}}">{{result.TP}}</span>
           </span>
          </div>
        </div>
        <div class="news-more-action" style="right:12px">

          <button class="button button-small button-borderless button-positive"  id="liker-{{result.VideoID}}" ng-click="openModal(result.VideoID)"><i class="icon ion-star"></i></button>


        </div>
        <div class="news-more-action4" style="right:12px">


          <button class="button button-small button-borderless button-energized"><i class="icon ion-chatbubbles" ></i></button>

        </div>
      </div>
    </div>
    <div ng-if="feed.results.length==0"><h3>Bu kategoride gönderi yok</h3></div>

    <ion-infinite-scroll ng-if="feed.hasMore" immediate-check="false" on-infinite="loadMore()">


    </ion-infinite-scroll>
  </ion-content>

</ion-view>
