<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-light nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i>Geri Dön</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">


    <ion-content class="gem-sidebar dark">

      <div class="row gem-sidebar-profile-box">


      </div>
      <!-- End Profile Box -->
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/feed">Favori Resimler</ion-item>
        <ion-item nav-clear menu-close href="#/app/feedvideo">Favori Videolar</ion-item>
        <ion-item nav-clear menu-close href="#/app/viewpost">Dükkan</ion-item>
        <ion-item nav-clear menu-close href="#/tabv/vspor">Bütün Videolar</ion-item>
        <ion-item nav-clear menu-close href="#/tab/spor">Bütün Resimler</ion-item>


      </ion-list>
    </ion-content>
    <!-- End sidemenu content -->
  </ion-side-menu>
</ion-side-menus>
