<ion-tabs class="tabs-icon-top fade-in-not-out">
  <!--<ion-nav-buttons side="left">-->
  <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
  <!--</ion-nav-buttons>-->



  <ion-tab title="Spor" icon-on="ion-ios-football" icon-off="ion-ios-football-outline" ui-sref="dukkan.spor">

    <ion-nav-view name="spordukkan"></ion-nav-view>


  </ion-tab>

  <ion-tab title="Müzik" icon-on="ion-ios-musical-note" icon-off="ion-ios-musical-notes" ui-sref="dukkan.muzik">
    <ion-nav-view name="muzikdukkan"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Görsel Sanat" icon-on="ion-easel" icon-off="ion-paintbrush" ui-sref="dukkan.gorsel">
    <ion-nav-view name="gorseldukkan"></ion-nav-view>
  </ion-tab>

</ion-tabs>

