<ion-tabs class="tabs-icon-top fade-in-not-out">



  <ion-tab title="Spor" icon-on="ion-ios-football" icon-off="ion-ios-football-outline" ui-sref="tabpv.spor">

    <ion-nav-view name="sporvidp-tab"></ion-nav-view>


  </ion-tab>

  <ion-tab title="Müzik" icon-on="ion-ios-musical-note" icon-off="ion-ios-musical-notes" ui-sref="tabpv.muzik">
    <ion-nav-view name="muzikvidp-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Görsel Sanat" icon-on="ion-easel" icon-off="ion-paintbrush" ui-sref="tabpv.gorsel">
    <ion-nav-view name="gorselvidp-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

